<div class="modal fade" id="@this.ViewData["idModal"]" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                @this.ViewData["question"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="@this.ViewData["idButton"]">Tak</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
            </div>
        </div>
    </div>
</div>