#bodyDiv {
    min-height: 850px;
}

#login {
    width: 30%;
}

#create {
    width: 30%;
}

#logAs {
    font-size: 10px;
}

#advertList {
    height: 630px;
}

.input-validation-error {
    border-color: red; 
    background-color: #fee;
}

#addAdvertIcon {
    font-size: 30px;
}

#editAdvertIcon {
    float: right;
}

#deleteAdvertIcon {
    float:right;
}

.addAndEditForm {
    width: 30%;
}

.card {
    display: inline-block;
    width: 18rem;
}

.card-title {
    height: 120px;
}

#footer {
    background-color: black;
    opacity: 80%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: cursive;
}

#flashMsgDiv {
    margin: 0 auto;
}

#dropdownMenuButton {
    font-size: 200%; 
    float: right
}

#deleteAccountError {
    color: red;
    margin-top: 10%;
}

#manageImagesIcon {
    margin-left: 5px;
    margin-top: 5px;
}

#imageManageGallery {
    border: inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-right: 2%;
}